{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://config.amazonaws.com/"
        },
        {
            "url": "http://config.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<fullname>AWS Config</fullname> <p>AWS Config provides a way to keep track of the configurations of all the AWS resources associated with your AWS account. You can use AWS Config to get the current and historical configurations of each AWS resource and also to get information about the relationship between the resources. An AWS resource can be an Amazon Compute Cloud (Amazon EC2) instance, an Elastic Block Store (EBS) volume, an elastic network Interface (ENI), or a security group. For a complete list of resources currently supported by AWS Config, see <a href=\"https://docs.aws.amazon.com/config/latest/developerguide/resource-config-reference.html#supported-resources\">Supported AWS Resources</a>.</p> <p>You can access and manage AWS Config through the AWS Management Console, the AWS Command Line Interface (AWS CLI), the AWS Config API, or the AWS SDKs for AWS Config. This reference guide contains documentation for the AWS Config API and the AWS CLI commands that you can use to manage AWS Config. The AWS Config API uses the Signature Version 4 protocol for signing requests. For more information about how to sign a request with this protocol, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4 Signing Process</a>. For detailed information about AWS Config features and their associated actions or commands, as well as how to work with AWS Management Console, see <a href=\"https://docs.aws.amazon.com/config/latest/developerguide/WhatIsConfig.html\">What Is AWS Config</a> in the <i>AWS Config Developer Guide</i>.</p>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "AWS Config",
        "version": "2014-11-12",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/config-2014-11-12.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "config"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/config/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Returns the current configuration items for resources that are present in your AWS Config aggregator. The operation also returns a list of resources that are not processed in the current request. If there are no unprocessed resources, the operation returns an empty <code>unprocessedResourceIdentifiers</code> list. </p> <note> <ul> <li> <p>The API does not return results for deleted resources.</p> </li> <li> <p> The API does not return tags and relationships.</p> </li> </ul> </note>",
                "operationId": "BatchGetAggregateResourceConfig",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "BaseConfigurationItems": {
                                            "description": "A list that contains the current configuration of one or more resources.",
                                            "items": {
                                                "description": "The detailed configuration of a specified resource.",
                                                "properties": {
                                                    "accountId": {
                                                        "description": "The 12-digit AWS account ID associated with the resource.",
                                                        "pattern": "\\d{12}",
                                                        "type": "string"
                                                    },
                                                    "arn": {
                                                        "description": "The Amazon Resource Name (ARN) of the resource.",
                                                        "type": "string"
                                                    },
                                                    "availabilityZone": {
                                                        "description": "The Availability Zone associated with the resource.",
                                                        "type": "string"
                                                    },
                                                    "awsRegion": {
                                                        "description": "The region where the resource resides.",
                                                        "maxLength": 64,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "configuration": {
                                                        "description": "The description of the resource configuration.",
                                                        "type": "string"
                                                    },
                                                    "configurationItemCaptureTime": {
                                                        "description": "The time when the configuration recording was initiated.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "configurationItemStatus": {
                                                        "description": "The configuration item status.",
                                                        "enum": [
                                                            "OK",
                                                            "ResourceDiscovered",
                                                            "ResourceNotRecorded",
                                                            "ResourceDeleted",
                                                            "ResourceDeletedNotRecorded"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "configurationStateId": {
                                                        "description": "An identifier that indicates the ordering of the configuration items of a resource.",
                                                        "type": "string"
                                                    },
                                                    "resourceCreationTime": {
                                                        "description": "The time stamp when the resource was created.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "resourceId": {
                                                        "description": "The ID of the resource (for example., sg-xxxxxx).",
                                                        "maxLength": 768,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "resourceName": {
                                                        "description": "The custom name of the resource, if available.",
                                                        "type": "string"
                                                    },
                                                    "resourceType": {
                                                        "description": "The type of AWS resource.",
                                                        "enum": [
                                                            "AWS::EC2::CustomerGateway",
                                                            "AWS::EC2::EIP",
                                                            "AWS::EC2::Host",
                                                            "AWS::EC2::Instance",
                                                            "AWS::EC2::InternetGateway",
                                                            "AWS::EC2::NetworkAcl",
                                                            "AWS::EC2::NetworkInterface",
                                                            "AWS::EC2::RouteTable",
                                                            "AWS::EC2::SecurityGroup",
                                                            "AWS::EC2::Subnet",
                                                            "AWS::CloudTrail::Trail",
                                                            "AWS::EC2::Volume",
                                                            "AWS::EC2::VPC",
                                                            "AWS::EC2::VPNConnection",
                                                            "AWS::EC2::VPNGateway",
                                                            "AWS::IAM::Group",
                                                            "AWS::IAM::Policy",
                                                            "AWS::IAM::Role",
                                                            "AWS::IAM::User",
                                                            "AWS::ACM::Certificate",
                                                            "AWS::RDS::DBInstance",
                                                            "AWS::RDS::DBSubnetGroup",
                                                            "AWS::RDS::DBSecurityGroup",
                                                            "AWS::RDS::DBSnapshot",
                                                            "AWS::RDS::EventSubscription",
                                                            "AWS::ElasticLoadBalancingV2::LoadBalancer",
                                                            "AWS::S3::Bucket",
                                                            "AWS::SSM::ManagedInstanceInventory",
                                                            "AWS::Redshift::Cluster",
                                                            "AWS::Redshift::ClusterSnapshot",
                                                            "AWS::Redshift::ClusterParameterGroup",
                                                            "AWS::Redshift::ClusterSecurityGroup",
                                                            "AWS::Redshift::ClusterSubnetGroup",
                                                            "AWS::Redshift::EventSubscription",
                                                            "AWS::CloudWatch::Alarm",
                                                            "AWS::CloudFormation::Stack",
                                                            "AWS::DynamoDB::Table",
                                                            "AWS::AutoScaling::AutoScalingGroup",
                                                            "AWS::AutoScaling::LaunchConfiguration",
                                                            "AWS::AutoScaling::ScalingPolicy",
                                                            "AWS::AutoScaling::ScheduledAction",
                                                            "AWS::CodeBuild::Project",
                                                            "AWS::WAF::RateBasedRule",
                                                            "AWS::WAF::Rule",
                                                            "AWS::WAF::WebACL",
                                                            "AWS::WAFRegional::RateBasedRule",
                                                            "AWS::WAFRegional::Rule",
                                                            "AWS::WAFRegional::WebACL",
                                                            "AWS::CloudFront::Distribution",
                                                            "AWS::CloudFront::StreamingDistribution",
                                                            "AWS::WAF::RuleGroup",
                                                            "AWS::WAFRegional::RuleGroup",
                                                            "AWS::Lambda::Function",
                                                            "AWS::ElasticBeanstalk::Application",
                                                            "AWS::ElasticBeanstalk::ApplicationVersion",
                                                            "AWS::ElasticBeanstalk::Environment",
                                                            "AWS::ElasticLoadBalancing::LoadBalancer",
                                                            "AWS::XRay::EncryptionConfig",
                                                            "AWS::SSM::AssociationCompliance",
                                                            "AWS::SSM::PatchCompliance",
                                                            "AWS::Shield::Protection",
                                                            "AWS::ShieldRegional::Protection",
                                                            "AWS::Config::ResourceCompliance",
                                                            "AWS::CodePipeline::Pipeline"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "supplementaryConfiguration": {
                                                        "description": "Configuration attributes that AWS Config returns for certain resource types to supplement the information returned for the configuration parameter.",
                                                        "items": {
                                                            "properties": {
                                                                "key": {
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "version": {
                                                        "description": "The version number of the resource configuration.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "UnprocessedResourceIdentifiers": {
                                            "description": "A list of resource identifiers that were not processed with current scope. The list is empty if all the resources are processed.",
                                            "items": {
                                                "description": "The details that identify a resource that is collected by AWS Config aggregator, including the resource type, ID, (if available) the custom resource name, the source account, and source region.",
                                                "properties": {
                                                    "ResourceId": {
                                                        "description": "The ID of the AWS resource.",
                                                        "maxLength": 768,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "ResourceName": {
                                                        "description": "The name of the AWS resource.",
                                                        "type": "string"
                                                    },
                                                    "ResourceType": {
                                                        "description": "The type of the AWS resource.",
                                                        "enum": [
                                                            "AWS::EC2::CustomerGateway",
                                                            "AWS::EC2::EIP",
                                                            "AWS::EC2::Host",
                                                            "AWS::EC2::Instance",
                                                            "AWS::EC2::InternetGateway",
                                                            "AWS::EC2::NetworkAcl",
                                                            "AWS::EC2::NetworkInterface",
                                                            "AWS::EC2::RouteTable",
                                                            "AWS::EC2::SecurityGroup",
                                                            "AWS::EC2::Subnet",
                                                            "AWS::CloudTrail::Trail",
                                                            "AWS::EC2::Volume",
                                                            "AWS::EC2::VPC",
                                                            "AWS::EC2::VPNConnection",
                                                            "AWS::EC2::VPNGateway",
                                                            "AWS::IAM::Group",
                                                            "AWS::IAM::Policy",
                                                            "AWS::IAM::Role",
                                                            "AWS::IAM::User",
                                                            "AWS::ACM::Certificate",
                                                            "AWS::RDS::DBInstance",
                                                            "AWS::RDS::DBSubnetGroup",
                                                            "AWS::RDS::DBSecurityGroup",
                                                            "AWS::RDS::DBSnapshot",
                                                            "AWS::RDS::EventSubscription",
                                                            "AWS::ElasticLoadBalancingV2::LoadBalancer",
                                                            "AWS::S3::Bucket",
                                                            "AWS::SSM::ManagedInstanceInventory",
                                                            "AWS::Redshift::Cluster",
                                                            "AWS::Redshift::ClusterSnapshot",
                                                            "AWS::Redshift::ClusterParameterGroup",
                                                            "AWS::Redshift::ClusterSecurityGroup",
                                                            "AWS::Redshift::ClusterSubnetGroup",
                                                            "AWS::Redshift::EventSubscription",
                                                            "AWS::CloudWatch::Alarm",
                                                            "AWS::CloudFormation::Stack",
                                                            "AWS::DynamoDB::Table",
                                                            "AWS::AutoScaling::AutoScalingGroup",
                                                            "AWS::AutoScaling::LaunchConfiguration",
                                                            "AWS::AutoScaling::ScalingPolicy",
                                                            "AWS::AutoScaling::ScheduledAction",
                                                            "AWS::CodeBuild::Project",
                                                            "AWS::WAF::RateBasedRule",
                                                            "AWS::WAF::Rule",
                                                            "AWS::WAF::WebACL",
                                                            "AWS::WAFRegional::RateBasedRule",
                                                            "AWS::WAFRegional::Rule",
                                                            "AWS::WAFRegional::WebACL",
                                                            "AWS::CloudFront::Distribution",
                                                            "AWS::CloudFront::StreamingDistribution",
                                                            "AWS::WAF::RuleGroup",
                                                            "AWS::WAFRegional::RuleGroup",
                                                            "AWS::Lambda::Function",
                                                            "AWS::ElasticBeanstalk::Application",
                                                            "AWS::ElasticBeanstalk::ApplicationVersion",
                                                            "AWS::ElasticBeanstalk::Environment",
                                                            "AWS::ElasticLoadBalancing::LoadBalancer",
                                                            "AWS::XRay::EncryptionConfig",
                                                            "AWS::SSM::AssociationCompliance",
                                                            "AWS::SSM::PatchCompliance",
                                                            "AWS::Shield::Protection",
                                                            "AWS::ShieldRegional::Protection",
                                                            "AWS::Config::ResourceCompliance",
                                                            "AWS::CodePipeline::Pipeline"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "SourceAccountId": {
                                                        "description": "The 12-digit account ID of the source account.",
                                                        "pattern": "\\d{12}",
                                                        "type": "string"
                                                    },
                                                    "SourceRegion": {
                                                        "description": "The source region where data is aggregated.",
                                                        "maxLength": 64,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "SourceAccountId",
                                                    "SourceRegion",
                                                    "ResourceId",
                                                    "ResourceType"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ValidationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "NoSuchConfigurationAggregatorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ConfigurationAggregatorName": {
                                        "description": "The name of the configuration aggregator.",
                                        "maxLength": 256,
                                        "minLength": 1,
                                        "pattern": "[\\w\\-]+",
                                        "type": "string"
                                    },
                                    "ResourceIdentifiers": {
                                        "description": "A list of aggregate ResourceIdentifiers objects. ",
                                        "items": {
                                            "description": "The details that identify a resource that is collected by AWS Config aggregator, including the resource type, ID, (if available) the custom resource name, the source account, and source region.",
                                            "properties": {
                                                "ResourceId": {
                                                    "description": "The ID of the AWS resource.",
                                                    "maxLength": 768,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "ResourceName": {
                                                    "description": "The name of the AWS resource.",
                                                    "type": "string"
                                                },
                                                "ResourceType": {
                                                    "description": "The type of the AWS resource.",
                                                    "enum": [
                                                        "AWS::EC2::CustomerGateway",
                                                        "AWS::EC2::EIP",
                                                        "AWS::EC2::Host",
                                                        "AWS::EC2::Instance",
                                                        "AWS::EC2::InternetGateway",
                                                        "AWS::EC2::NetworkAcl",
                                                        "AWS::EC2::NetworkInterface",
                                                        "AWS::EC2::RouteTable",
                                                        "AWS::EC2::SecurityGroup",
                                                        "AWS::EC2::Subnet",
                                                        "AWS::CloudTrail::Trail",
                                                        "AWS::EC2::Volume",
                                                        "AWS::EC2::VPC",
                                                        "AWS::EC2::VPNConnection",
                                                        "AWS::EC2::VPNGateway",
                                                        "AWS::IAM::Group",
                                                        "AWS::IAM::Policy",
                                                        "AWS::IAM::Role",
                                                        "AWS::IAM::User",
                                                        "AWS::ACM::Certificate",
                                                        "AWS::RDS::DBInstance",
                                                        "AWS::RDS::DBSubnetGroup",
                                                        "AWS::RDS::DBSecurityGroup",
                                                        "AWS::RDS::DBSnapshot",
                                                        "AWS::RDS::EventSubscription",
                                                        "AWS::ElasticLoadBalancingV2::LoadBalancer",
                                                        "AWS::S3::Bucket",
                                                        "AWS::SSM::ManagedInstanceInventory",
                                                        "AWS::Redshift::Cluster",
                                                        "AWS::Redshift::ClusterSnapshot",
                                                        "AWS::Redshift::ClusterParameterGroup",
                                                        "AWS::Redshift::ClusterSecurityGroup",
                                                        "AWS::Redshift::ClusterSubnetGroup",
                                                        "AWS::Redshift::EventSubscription",
                                                        "AWS::CloudWatch::Alarm",
                                                        "AWS::CloudFormation::Stack",
                                                        "AWS::DynamoDB::Table",
                                                        "AWS::AutoScaling::AutoScalingGroup",
                                                        "AWS::AutoScaling::LaunchConfiguration",
                                                        "AWS::AutoScaling::ScalingPolicy",
                                                        "AWS::AutoScaling::ScheduledAction",
                                                        "AWS::CodeBuild::Project",
                                                        "AWS::WAF::RateBasedRule",
                                                        "AWS::WAF::Rule",
                                                        "AWS::WAF::WebACL",
                                                        "AWS::WAFRegional::RateBasedRule",
                                                        "AWS::WAFRegional::Rule",
                                                        "AWS::WAFRegional::WebACL",
                                                        "AWS::CloudFront::Distribution",
                                                        "AWS::CloudFront::StreamingDistribution",
                                                        "AWS::WAF::RuleGroup",
                                                        "AWS::WAFRegional::RuleGroup",
                                                        "AWS::Lambda::Function",
                                                        "AWS::ElasticBeanstalk::Application",
                                                        "AWS::ElasticBeanstalk::ApplicationVersion",
                                                        "AWS::ElasticBeanstalk::Environment",
                                                        "AWS::ElasticLoadBalancing::LoadBalancer",
                                                        "AWS::XRay::EncryptionConfig",
                                                        "AWS::SSM::AssociationCompliance",
                                                        "AWS::SSM::PatchCompliance",
                                                        "AWS::Shield::Protection",
                                                        "AWS::ShieldRegional::Protection",
                                                        "AWS::Config::ResourceCompliance",
                                                        "AWS::CodePipeline::Pipeline"
                                                    ],
                                                    "type": "string"
                                                },
                                                "SourceAccountId": {
                                                    "description": "The 12-digit account ID of the source account.",
                                                    "pattern": "\\d{12}",
                                                    "type": "string"
                                                },
                                                "SourceRegion": {
                                                    "description": "The source region where data is aggregated.",
                                                    "maxLength": 64,
                                                    "minLength": 1,
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "SourceAccountId",
                                                "SourceRegion",
                                                "ResourceId",
                                                "ResourceType"
                                            ],
                                            "type": "object"
                                        },
                                        "maxItems": 100,
                                        "minItems": 1,
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "ConfigurationAggregatorName",
                                    "ResourceIdentifiers"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#BatchGetResourceConfig": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Returns the current configuration for one or more requested resources. The operation also returns a list of resources that are not processed in the current request. If there are no unprocessed resources, the operation returns an empty unprocessedResourceKeys list. </p> <note> <ul> <li> <p>The API does not return results for deleted resources.</p> </li> <li> <p> The API does not return any tags for the requested resources. This information is filtered out of the supplementaryConfiguration section of the API response.</p> </li> </ul> </note>",
                "operationId": "BatchGetResourceConfig",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "baseConfigurationItems": {
                                            "description": "A list that contains the current configuration of one or more resources.",
                                            "items": {
                                                "description": "The detailed configuration of a specified resource.",
                                                "properties": {
                                                    "accountId": {
                                                        "description": "The 12-digit AWS account ID associated with the resource.",
                                                        "pattern": "\\d{12}",
                                                        "type": "string"
                                                    },
                                                    "arn": {
                                                        "description": "The Amazon Resource Name (ARN) of the resource.",
                                                        "type": "string"
                                                    },
                                                    "availabilityZone": {
                                                        "description": "The Availability Zone associated with the resource.",
                                                        "type": "string"
                                                    },
                                                    "awsRegion": {
                                                        "description": "The region where the resource resides.",
                                                        "maxLength": 64,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "configuration": {
                                                        "description": "The description of the resource configuration.",
                                                        "type": "string"
                                                    },
                                                    "configurationItemCaptureTime": {
                                                        "description": "The time when the configuration recording was initiated.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "configurationItemStatus": {
                                                        "description": "The configuration item status.",
                                                        "enum": [
                                                            "OK",
                                                            "ResourceDiscovered",
                                                            "ResourceNotRecorded",
                                                            "ResourceDeleted",
                                                            "ResourceDeletedNotRecorded"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "configurationStateId": {
                                                        "description": "An identifier that indicates the ordering of the configuration items of a resource.",
                                                        "type": "string"
                                                    },
                                                    "resourceCreationTime": {
                                                        "description": "The time stamp when the resource was created.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "resourceId": {
                                                        "description": "The ID of the resource (for example., sg-xxxxxx).",
                                                        "maxLength": 768,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "resourceName": {
                                                        "description": "The custom name of the resource, if available.",
                                                        "type": "string"
                                                    },
                                                    "resourceType": {
                                                        "description": "The type of AWS resource.",
                                                        "enum": [
                                                            "AWS::EC2::CustomerGateway",
                                                            "AWS::EC2::EIP",
                                                            "AWS::EC2::Host",
                                                            "AWS::EC2::Instance",
                                                            "AWS::EC2::InternetGateway",
                                                            "AWS::EC2::NetworkAcl",
                                                            "AWS::EC2::NetworkInterface",
                                                            "AWS::EC2::RouteTable",
                                                            "AWS::EC2::SecurityGroup",
                                                            "AWS::EC2::Subnet",
                                                            "AWS::CloudTrail::Trail",
                                                            "AWS::EC2::Volume",
                                                            "AWS::EC2::VPC",
                                                            "AWS::EC2::VPNConnection",
                                                            "AWS::EC2::VPNGateway",
                                                            "AWS::IAM::Group",
                                                            "AWS::IAM::Policy",
                                                            "AWS::IAM::Role",
                                                            "AWS::IAM::User",
                                                            "AWS::ACM::Certificate",
                                                            "AWS::RDS::DBInstance",
                                                            "AWS::RDS::DBSubnetGroup",
                                                            "AWS::RDS::DBSecurityGroup",
                                                            "AWS::RDS::DBSnapshot",
                                                            "AWS::RDS::EventSubscription",
                                                            "AWS::ElasticLoadBalancingV2::LoadBalancer",
                                                            "AWS::S3::Bucket",
                                                            "AWS::SSM::ManagedInstanceInventory",
                                                            "AWS::Redshift::Cluster",
                                                            "AWS::Redshift::ClusterSnapshot",
                                                            "AWS::Redshift::ClusterParameterGroup",
                                                            "AWS::Redshift::ClusterSecurityGroup",
                                                            "AWS::Redshift::ClusterSubnetGroup",
                                                            "AWS::Redshift::EventSubscription",
                                                            "AWS::CloudWatch::Alarm",
                                                            "AWS::CloudFormation::Stack",
                                                            "AWS::DynamoDB::Table",
                                                            "AWS::AutoScaling::AutoScalingGroup",
                                                            "AWS::AutoScaling::LaunchConfiguration",
                                                            "AWS::AutoScaling::ScalingPolicy",
                                                            "AWS::AutoScaling::ScheduledAction",
                                                            "AWS::CodeBuild::Project",
                                                            "AWS::WAF::RateBasedRule",
                                                            "AWS::WAF::Rule",
                                                            "AWS::WAF::WebACL",
                                                            "AWS::WAFRegional::RateBasedRule",
                                                            "AWS::WAFRegional::Rule",
                                                            "AWS::WAFRegional::WebACL",
                                                            "AWS::CloudFront::Distribution",
                                                            "AWS::CloudFront::StreamingDistribution",
                                                            "AWS::WAF::RuleGroup",
                                                            "AWS::WAFRegional::RuleGroup",
                                                            "AWS::Lambda::Function",
                                                            "AWS::ElasticBeanstalk::Application",
                                                            "AWS::ElasticBeanstalk::ApplicationVersion",
                                                            "AWS::ElasticBeanstalk::Environment",
                                                            "AWS::ElasticLoadBalancing::LoadBalancer",
                                                            "AWS::XRay::EncryptionConfig",
                                                            "AWS::SSM::AssociationCompliance",
                                                            "AWS::SSM::PatchCompliance",
                                                            "AWS::Shield::Protection",
                                                            "AWS::ShieldRegional::Protection",
                                                            "AWS::Config::ResourceCompliance",
                                                            "AWS::CodePipeline::Pipeline"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "supplementaryConfiguration": {
                                                        "description": "Configuration attributes that AWS Config returns for certain resource types to supplement the information returned for the configuration parameter.",
                                                        "items": {
                                                            "properties": {
                                                                "key": {
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "version": {
                                                        "description": "The version number of the resource configuration.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "unprocessedResourceKeys": {
                                            "description": "A list of resource keys that were not processed with the current response. The unprocessesResourceKeys value is in the same form as ResourceKeys, so the value can be directly provided to a subsequent BatchGetResourceConfig operation. If there are no unprocessed resource keys, the response contains an empty unprocessedResourceKeys list. ",
                                            "items": {
                                                "description": "The details that identify a resource within AWS Config, including the resource type and resource ID.",
                                                "properties": {
                                                    "resourceId": {
                                                        "description": "The ID of the resource (for example., sg-xxxxxx). ",
                                                        "maxLength": 768,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "resourceType": {
                                                        "description": "The resource type.",
                                                        "enum": [
                                                            "AWS::EC2::CustomerGateway",
                                                            "AWS::EC2::EIP",
                                                            "AWS::EC2::Host",
                                                            "AWS::EC2::Instance",
                                                            "AWS::EC2::InternetGateway",
                                                            "AWS::EC2::NetworkAcl",
                                                            "AWS::EC2::NetworkInterface",
                                                            "AWS::EC2::RouteTable",
                                                            "AWS::EC2::SecurityGroup",
                                                            "AWS::EC2::Subnet",
                                                            "AWS::CloudTrail::Trail",
                                                            "AWS::EC2::Volume",
                                                            "AWS::EC2::VPC",
                                                            "AWS::EC2::VPNConnection",
                                                            "AWS::EC2::VPNGateway",
                                                            "AWS::IAM::Group",
                                                            "AWS::IAM::Policy",
                                                            "AWS::IAM::Role",
                                                            "AWS::IAM::User",
                                                            "AWS::ACM::Certificate",
                                                            "AWS::RDS::DBInstance",
                                                            "AWS::RDS::DBSubnetGroup",
                                                            "AWS::RDS::DBSecurityGroup",
                                                            "AWS::RDS::DBSnapshot",
                                                            "AWS::RDS::EventSubscription",
                                                            "AWS::ElasticLoadBalancingV2::LoadBalancer",
                                                            "AWS::S3::Bucket",
                                                            "AWS::SSM::ManagedInstanceInventory",
                                                            "AWS::Redshift::Cluster",
                                                            "AWS::Redshift::ClusterSnapshot",
                                                            "AWS::Redshift::ClusterParameterGroup",
                                                            "AWS::Redshift::ClusterSecurityGroup",
                                                            "AWS::Redshift::ClusterSubnetGroup",
                                                            "AWS::Redshift::EventSubscription",
                                                            "AWS::CloudWatch::Alarm",
                                                            "AWS::CloudFormation::Stack",
                                                            "AWS::DynamoDB::Table",
                                                            "AWS::AutoScaling::AutoScalingGroup",
                                                            "AWS::AutoScaling::LaunchConfiguration",
                                                            "AWS::AutoScaling::ScalingPolicy",
                                                            "AWS::AutoScaling::ScheduledAction",
                                                            "AWS::CodeBuild::Project",
                                                            "AWS::WAF::RateBasedRule",
                                                            "AWS::WAF::Rule",
                                                            "AWS::WAF::WebACL",
                                                            "AWS::WAFRegional::RateBasedRule",
                                                            "AWS::WAFRegional::Rule",
                                                            "AWS::WAFRegional::WebACL",
                                                            "AWS::CloudFront::Distribution",
                                                            "AWS::CloudFront::StreamingDistribution",
                                                            "AWS::WAF::RuleGroup",
                                                            "AWS::WAFRegional::RuleGroup",
                                                            "AWS::Lambda::Function",
                                                            "AWS::ElasticBeanstalk::Application",
                                                            "AWS::ElasticBeanstalk::ApplicationVersion",
                                                            "AWS::ElasticBeanstalk::Environment",
                                                            "AWS::ElasticLoadBalancing::LoadBalancer",
                                                            "AWS::XRay::EncryptionConfig",
                                                            "AWS::SSM::AssociationCompliance",
                                                            "AWS::SSM::PatchCompliance",
                                                            "AWS::Shield::Protection",
                                                            "AWS::ShieldRegional::Protection",
                                                            "AWS::Config::ResourceCompliance",
                                                            "AWS::CodePipeline::Pipeline"
                                                        ],
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "resourceType",
                                                    "resourceId"
                                                ],
                                                "type": "object"
                                            },
                                            "maxItems": 100,
                                            "minItems": 1,
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ValidationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "NoAvailableConfigurationRecorderException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "resourceKeys": {
                                        "description": "A list of resource keys to be processed with the current request. Each element in the list consists of the resource type and resource ID.",
                                        "items": {
                                            "description": "The details that identify a resource within AWS Config, including the resource type and resource ID.",
                                            "properties": {
                                                "resourceId": {
                                                    "description": "The ID of the resource (for example., sg-xxxxxx). ",
                                                    "maxLength": 768,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "resourceType": {
                                                    "description": "The resource type.",
                                                    "enum": [
                                                        "AWS::EC2::CustomerGateway",
                                                        "AWS::EC2::EIP",
                                                        "AWS::EC2::Host",
                                                        "AWS::EC2::Instance",
                                                        "AWS::EC2::InternetGateway",
                                                        "AWS::EC2::NetworkAcl",
                                                        "AWS::EC2::NetworkInterface",
                                                        "AWS::EC2::RouteTable",
                                                        "AWS::EC2::SecurityGroup",
                                                        "AWS::EC2::Subnet",
                                                        "AWS::CloudTrail::Trail",
                                                        "AWS::EC2::Volume",
                                                        "AWS::EC2::VPC",
                                                        "AWS::EC2::VPNConnection",
                                                        "AWS::EC2::VPNGateway",
                                                        "AWS::IAM::Group",
                                                        "AWS::IAM::Policy",
                                                        "AWS::IAM::Role",
                                                        "AWS::IAM::User",
                                                        "AWS::ACM::Certificate",
                                                        "AWS::RDS::DBInstance",
                                                        "AWS::RDS::DBSubnetGroup",
                                                        "AWS::RDS::DBSecurityGroup",
                                                        "AWS::RDS::DBSnapshot",
                                                        "AWS::RDS::EventSubscription",
                                                        "AWS::ElasticLoadBalancingV2::LoadBalancer",
                                                        "AWS::S3::Bucket",
                                                        "AWS::SSM::ManagedInstanceInventory",
                                                        "AWS::Redshift::Cluster",
                                                        "AWS::Redshift::ClusterSnapshot",
                                                        "AWS::Redshift::ClusterParameterGroup",
                                                        "AWS::Redshift::ClusterSecurityGroup",
                                                        "AWS::Redshift::ClusterSubnetGroup",
                                                        "AWS::Redshift::EventSubscription",
                                                        "AWS::CloudWatch::Alarm",
                                                        "AWS::CloudFormation::Stack",
                                                        "AWS::DynamoDB::Table",
                                                        "AWS::AutoScaling::AutoScalingGroup",
                                                        "AWS::AutoScaling::LaunchConfiguration",
                                                        "AWS::AutoScaling::ScalingPolicy",
                                                        "AWS::AutoScaling::ScheduledAction",
                                                        "AWS::CodeBuild::Project",
                                                        "AWS::WAF::RateBasedRule",
                                                        "AWS::WAF::Rule",
                                                        "AWS::WAF::WebACL",
                                                        "AWS::WAFRegional::RateBasedRule",
                                                        "AWS::WAFRegional::Rule",
                                                        "AWS::WAFRegional::WebACL",
                                                        "AWS::CloudFront::Distribution",
                                                        "AWS::CloudFront::StreamingDistribution",
                                                        "AWS::WAF::RuleGroup",
                                                        "AWS::WAFRegional::RuleGroup",
                                                        "AWS::Lambda::Function",
                                                        "AWS::ElasticBeanstalk::Application",
                                                        "AWS::ElasticBeanstalk::ApplicationVersion",
                                                        "AWS::ElasticBeanstalk::Environment",
                                                        "AWS::ElasticLoadBalancing::LoadBalancer",
                                                        "AWS::XRay::EncryptionConfig",
                                                        "AWS::SSM::AssociationCompliance",
                                                        "AWS::SSM::PatchCompliance",
                                                        "AWS::Shield::Protection",
                                                        "AWS::ShieldRegional::Protection",
                                                        "AWS::Config::ResourceCompliance",
                                                        "AWS::CodePipeline::Pipeline"
                                                    ],
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "resourceType",
                                                "resourceId"
                                            ],
                                            "type": "object"
                                        },
                                        "maxItems": 100,
                                        "minItems": 1,
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "resourceKeys"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteAggregationAuthorization": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Deletes the authorization granted to the specified configuration aggregator account in a specified region.",
                "operationId": "DeleteAggregationAuthorization",
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "480": {
                        "description": "InvalidParameterValueException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "AuthorizedAccountId": {
                                        "description": "The 12-digit account ID of the account authorized to aggregate data.",
                                        "pattern": "\\d{12}",
                                        "type": "string"
                                    },
                                    "AuthorizedAwsRegion": {
                                        "description": "The region authorized to collect aggregated data.",
                                        "maxLength": 64,
                                        "minLength": 1,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "AuthorizedAccountId",
                                    "AuthorizedAwsRegion"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteConfigRule": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Deletes the specified AWS Config rule and all of its evaluation results.</p> <p>AWS Config sets the state of a rule to <code>DELETING</code> until the deletion is complete. You cannot update a rule while it is in this state. If you make a <code>PutConfigRule</code> or <code>DeleteConfigRule</code> request for the rule, you will receive a <code>ResourceInUseException</code>.</p> <p>You can check the state of a rule by using the <code>DescribeConfigRules</code> request.</p>",
                "operationId": "DeleteConfigRule",
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "480": {
                        "description": "NoSuchConfigRuleException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceInUseException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "<p/>",
                                "properties": {
                                    "ConfigRuleName": {
                                        "description": "The name of the AWS Config rule that you want to delete.",
                                        "maxLength": 64,
                                        "minLength": 1,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "ConfigRuleName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteConfigurationAggregator": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Deletes the specified configuration aggregator and the aggregated data associated with the aggregator.",
                "operationId": "DeleteConfigurationAggregator",
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "480": {
                        "description": "NoSuchConfigurationAggregatorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ConfigurationAggregatorName": {
                                        "description": "The name of the configuration aggregator.",
                                        "maxLength": 256,
                                        "minLength": 1,
                                        "pattern": "[\\w\\-]+",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "ConfigurationAggregatorName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteConfigurationRecorder": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Deletes the configuration recorder.</p> <p>After the configuration recorder is deleted, AWS Config will not record resource configuration changes until you create a new configuration recorder.</p> <p>This action does not delete the configuration information that was previously recorded. You will be able to access the previously recorded information by using the <code>GetResourceConfigHistory</code> action, but you will not be able to access this information in the AWS Config console until you create a new configuration recorder.</p>",
                "operationId": "DeleteConfigurationRecorder",
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "480": {
                        "description": "NoSuchConfigurationRecorderException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "The request object for the <code>DeleteConfigurationRecorder</code> action.",
                                "properties": {
                                    "ConfigurationRecorderName": {
                                        "description": "The name of the configuration recorder to be deleted. You can retrieve the name of your configuration recorder by using the <code>DescribeConfigurationRecorders</code> action.",
                                        "maxLength": 256,
                                        "minLength": 1,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "ConfigurationRecorderName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteDeliveryChannel": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Deletes the delivery channel.</p> <p>Before you can delete the delivery channel, you must stop the configuration recorder by using the <a>StopConfigurationRecorder</a> action.</p>",
                "operationId": "DeleteDeliveryChannel",
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "480": {
                        "description": "NoSuchDeliveryChannelException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "LastDeliveryChannelDeleteFailedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "The input for the <a>DeleteDeliveryChannel</a> action. The action accepts the following data, in JSON format. ",
                                "properties": {
                                    "DeliveryChannelName": {
                                        "description": "The name of the delivery channel to delete.",
                                        "maxLength": 256,
                                        "minLength": 1,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "DeliveryChannelName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteEvaluationResults": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Deletes the evaluation results for the specified AWS Config rule. You can specify one AWS Config rule per request. After you delete the evaluation results, you can call the <a>StartConfigRulesEvaluation</a> API to start evaluating your AWS resources against the rule.",
                "operationId": "DeleteEvaluationResults",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The output when you delete the evaluation results for the specified AWS Config rule.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "NoSuchConfigRuleException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceInUseException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "<p/>",
                                "properties": {
                                    "ConfigRuleName": {
                                        "description": "The name of the AWS Config rule for which you want to delete the evaluation results.",
                                        "maxLength": 64,
                                        "minLength": 1,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "ConfigRuleName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeletePendingAggregationRequest": {
            "parameters": [
                {
[...]
